@media only screen and (max-width: 600px) {
    .button {
      display: none;
    }
  }
  @media only screen and (min-width: 600px) {
    .video-container {
      height: 300px;
      width: 800px;
    }
  
    .video {
      width: 300px;
      max-height: 300px;
    }
  
    .video:focus {
      outline-width: 0;
    }
  
    .button-container {
      width: 400px;
      padding: 10px;
    }
  }
  
  .container {
    box-sizing: border-box;
    text-align: center;
    margin: auto;
  }
  
  .button {
    background-color: green;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin: auto;
  }
  